@import '../../styles/variables';
@import '../../styles/mixins';

.profile-general {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
  }

  .general {
    @include border($color: $total-black, $rad: 8px);

    display: flex;
    align-items: center;
    justify-content: center;

    background: $white-color;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 274px;
      margin: 40px 2.7777vw;
    }

    &__header {
      font-size: 1.375rem;
      font-style: normal;
      line-height: 1.2727;
      color: $black-color;
    }

    &__avatar-n-btn {
      display: flex;
      gap: 1.1111vw;
      align-items: flex-start;
    }

    &__avatar-wrapper {
      @include default-avatar-wrapper;
  
      width: 5.83vw;
      max-width: 84px;
      height: 5.83vw;
      max-height: 84px;
  
      .default-avatar {
        @include default-avatar;
  
        padding-top: .84vw;
    
        transform: scale(1.2);
      }
    }

    &__btn-n-caption {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      justify-content: center;
    }

    &__btn {
      display: flex;
      align-items: center;

      font-size: .875rem;
      font-weight: 500;
      line-height: 1.4286;
      color: $black-color;
      letter-spacing: 0.1px;
    }

    &__caption {
      font-size: .75rem;
      line-height: 1.3333;
      color: $gray-1-color;
      letter-spacing: 0.4px;
    }
  }
}