@import '../../styles/variables';
@import '../../styles/mixins';

.profile-general {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
  }

  .general {
    &__avatar-wrapper {
      @include default-avatar-wrapper;
  
      width: 84px;
      height: 84px;
  
      .default-avatar {
        @include default-avatar;
  
        padding-top: 12px;
    
        transform: scale(1.2);
      }
    }
  }
}