@import '../../styles/variables';
@import '../../styles/mixins';

.td {
  position: relative;

  color: $black-color;

  &__with-line {
    border-bottom: 1px solid $gray-light-1-color;
  }

  &__button {
    @include btn-n-select-table;

    text-align: start;

    background: none;

    &_id,
    &_amount {
      text-align: end;
    }

    &_empty {
      border: 1px solid $gray-light-1-color;
      border-radius: 4px;
    }

    &_error {
      border-radius: 4px;
      outline: 2px solid $error-color;
      caret-color: $error-color;
    }

    &:focus {
      border-radius: 4px;
      outline: 2px solid $purple-color;
      caret-color: $purple-color;
    }
  }

  &__button_with-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    padding-right: 12px;
  }

  .select {
    @include btn-n-select-table;
  }

  .options {
    position: absolute;
    z-index: 3;

    width: 130px;

    background-color: $btn-bg-color;
    border: 1px solid #2D2D2B;
    border-radius: 4px;
    box-shadow: 2px 2px 0 $black-color;

    &__list {
      display: flex;
      flex-direction: column;
      height: 240px;
      margin-right: 4px;

      overflow-y: scroll;

      list-style-type: none;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        width: 4px;
        margin: 8px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-light-color;
        border-radius: 100px;
      }

      scrollbar-width: thin;
    }

    &__list-el {
      padding: 8px 0 8px 16px;
      margin-right: 4px;

      font-size: 1rem;
      line-height: 24px;
      color: $black-1-color;
      text-align: start;

      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;

        background-color: $primary-color;
      }
    }
  }

  .error {
    margin: 0 15px;

    font-size: 12px;
    line-height: 16px;
    color: $error-color;
  }
}

.td-trash {
  text-align: center;

  .trash {
    fill: $gray-light-color;
  }
}

.arrow-up {
  transform: scale(1, -1);
}