@import '../../styles/variables';
@import '../../styles/mixins';

.td {
  position: relative;

  color: $black-color;

  &__with-line {
    border-bottom: 1px solid $gray-light-1-color;
  }

  &__button {
    @include btn-n-select-table;

    text-align: start;

    background: none;

    &_id,
    &_amount {
      text-align: end;
    }

    &_empty {
      @include border($color: $gray-light-1-color);
    }

    &_error {
      border-radius: 4px;
      outline: 2px solid $error-color;
      caret-color: $error-color;
    }

    &_trash {
      display: flex;
      align-items: center;
      justify-content: center;

      .trash {
        fill: $gray-light-color;
      }

      &:hover {
        border: 1px solid transparent;

        .trash {
          fill: $black-color;
        }
      }
    }

    &:focus {
      border-radius: 4px;
      outline: 2px solid $purple-color;
      caret-color: $purple-color;
    }

    &:hover:focus {
      border: 1px solid transparent;
    }
  }

  &__button_with-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    padding-right: 12px;
  }

  .select {
    @include btn-n-select-table;
  }

  .options {
    @include border($color: $black-color);
    
    position: absolute;
    left: 10px;
    z-index: 3;

    width: 130px;

    background-color: $btn-bg-color;
    box-shadow: 2px 2px 0 $black-color;

    &__list {
      display: flex;
      flex-direction: column;
      height: 240px;
      margin-right: 4px;

      overflow-y: scroll;

      list-style-type: none;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        width: 4px;
        margin: 8px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-light-color;
        border-radius: 100px;
      }

      scrollbar-width: thin;
    }

    &__list-el {
      padding: 8px 0 8px 17px;
      margin-right: 4px;

      font-size: 1rem;
      line-height: 24px;
      color: $black-1-color;
      text-align: start;

      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;

        background-color: $bg-menu-active-color;
      }
    }
  }

  .error {
    margin: 0 15px;

    font-size: 12px;
    line-height: 16px;
    color: $error-color;
  }

  &_hover-by-trash {
    background: $bg-menu-active-color;
  }
}

.td-trash {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.arrow-up {
  transform: scale(1, -1);
}

.popup-tip {
  position: absolute;
  right: -10px;
  bottom: -30px;
  z-index: 3;
  
  padding: 4px 12px;

  font-size: 14px;
  color: #F6F4EF;
  letter-spacing: 0.25px;

  background: $black-color;
  border-radius: 4px;
  box-shadow: 0 4px 8px 3px rgba(0 0 0 / 15%), 0 1px 3px rgba(0 0 0 / 30%);
  opacity: 0.8;
}