<header class="app-header">
	<div class="container">
		<div class="app-header__inner">
			<a class="header-link" routerLink="">
				<img
					src="../../../../../../../assets/img/jpg/recipetoria-logo.png"
					width="46"
					height="60"
					alt="recipetoria logotype"
				/>
			</a>
			<div class="menu">
				<ul class="menu__list">
					<li class="menu__list-item">
						<a routerLink="all-categories" class="menu__list-link">All Categories</a>
					</li>
					<li class="menu__list-item">
						<a routerLink="shopping-list" class="menu__list-link">Shopping List</a>
					</li>
					<li class="menu__list-item">
						<button class="menu__list-button bttn" type="button">Add recipe</button>
					</li>
				</ul>
			</div>
			<button class="header-button bttn" type="button">
				<img src="" alt="" />
			</button>
		</div>
	</div>
</header>
