.app-header {

	.container {
		max-width: 1120px;
		margin: 0 auto;
	}

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #fef8f1;
		padding: 0 156px;
		border-bottom: 2px solid #000000;

		.bttn {
			cursor: pointer;
			background-color: #fff;
			border: 1px solid #2d2d2b;
			border-radius: 4px;
			box-shadow: 3px 3px #333;

			&:hover {
				background-color: #ffdfd7;
			}

			&:active {
				box-shadow: none;
				transform: translate(3px, 3px);
				transition: all .1s;
				background-color: #fff;
			}

			&:disabled {
				color: #94959a;
				background-color: #f7f6f6;
				border: 1px solid #94959a;
				box-shadow: 3px 3px #94959a;
			}
		}

		.menu {
			padding: 25px 0 19px 0;
			flex: 1 0;

			&__list {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				gap: 54px;

				&-item {

					.mat-mdc-form-field>.mat-mdc-text-field-wrapper .mdc-text-field>.mat-mdc-form-field-flex {
						align-items: center;
					}
				}

				&-link {
					color: #4F4F4F;
					font-size: 16px;
					font-weight: 500;
					line-height: 19px;
					//color: var(--link-color);
				}

				&-button {
					padding: 12px 24px;
				}
			}

			&-user {

				&__link {

					img {
						background-color: #EE6B37;
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
			}
		}

		.header {

			&-link {

			}

			&-button {
				margin-left: 40px;
				padding: 24px;
				border-radius: 100%;
			}
		}
	}
}
