@import "../../styles/variables";
@import "../../styles/mixins";

.recipe-instruction {
  @include border($color: $black-color, $rad: 8px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;

  background: $btn-bg-color;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    width: inherit;
    margin: 40px 0 40px 40px;

    color: $black-color;
  }

  .photo-n-instruction {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    width: 100%;

    &__photo-wrapper {
      @include border($color: $black-color, $rad: 8px);

      flex: 1 0 auto;
      width: 29.028vw;
      max-width: 419px;
      height: 21.528vw;
      max-height: 310px;
      overflow: hidden;

      box-shadow: 6px 6px 0 0 $black-color;
    }

    &__photo {
      width: 100%;
      height: 100%;
      
      object-fit: cover;
    }
  }

  .instruction {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
    margin-right: 7.222vw;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__h3 {
      margin-block-start: 0;
      margin-block-end: 0;

      font-size: 1.375rem;
      font-weight: 400;
      line-height: 1.273;
    }

    &__text {
      font-size: 1rem;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }
  }

  .photos-block {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__h4 {
      margin-block-start: 0;
      margin-block-end: 0;

      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }
  }

  .carousel {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__controllers {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
    }

    &__btn {
      @include btn;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      margin-bottom: 2px;

      box-shadow: 2px 2px 0 0 $black-color;

      &_next {
        transform: scale(-1, 1);
      }
    }

    &__dots {
      display: flex;
      gap: 9px;
      align-items: center;
    }

    &__dot {
      background: transparent;
      border: none;

      &:disabled {
        transform: scale(1.625);

        svg {
          border-radius: 50%;
          box-shadow: 1px 1px 0 0 $black-color;
        }
      }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .sliderTray {
      &___-vHFQ {
        gap: 16px;
        height: 165px;
      }
    }

    &__slide {
      @include border($color: $black-color);
      
      margin: 5px;
      overflow: hidden;

      box-shadow: 5px 5px 0 0 $black-color;
    }

    .add-photo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;

      background: $beige;
      border: none;

      &__image-wrapper {
        width: 100%;
        max-width: 142px;
      }

      &__image {
        width: 100%;

        object-fit: cover;
      }

      &__text {
        display: flex;
        gap: 4px;
        align-items: center;
      }
    }
  }
}