@import '../../styles/variables';
@import '../../styles/mixins';

.sign-page {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    padding: 56px;
  }

  .submit-btn {
    width: 100%;
    padding: 12px 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $btn-bg-color;
    letter-spacing: 0.1px;

    background: $orange-color;
  }

  .sign-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    &__text {
      font-size: 12px;
      line-height: 16px;
      color: $gray-1-color;
      letter-spacing: 0.4px;
    }

    .icons {
      display: flex;
      gap: 16px;
    }
  }
}