@import "../../styles/variables";
@import "../../styles/mixins";

.start-page-top-part {
  display: flex;

  background: linear-gradient(135deg, rgba($pink-color, .27) 20%, rgba($green-color, .2));

  @media (max-width: 599px) {
    justify-content: center;
  }
  
  &__wrapper {
    display: flex;
    flex-grow: 1;
    gap: 5.2778vw;
    justify-content: space-between;
    margin: 84px 0 75px 10.83vw;

    @media (max-width: 904px) {
      gap: 22.5px;
      margin: 32px 0 32px 5.333vw;
    }
    
    @media (max-width: 599px) {
      flex-direction: column;
      gap: 23.03px;
      align-items: center;
      margin: 0 0 54px 6.250vw;
    }
  }

  .image-wrapper {
    width: 100%;

    &_folders {
      max-width: 105px;

      @media (max-width: 904px) {
        position: absolute;
        right: 0;

        width: 61.203px;
      }

      @media (max-width: 599px) {
        position: absolute;
        top: 10px;
        right: 500%;
        left: 50%;

        width: 61.202px;

        transform: translateX(-50%);
      }
    }

    &_cursor {
      align-self: flex-end;
      max-width: 64px;
      padding-right: 1.0889vw;

      @media (max-width: 904px) {
        max-width: 35.5px;
      }
      
      @media (max-width: 599px) {
        position: absolute;
        bottom: 12.77px;
        left: 8px;
        
        max-width: 35.5px;
        padding-right: 0;
      }
    }

    &_laptop {
      width: 28.61vw;
      max-width: 410px;

      @media (max-width: 904px) {
        position: absolute;
        right: -60px;

        width: initial;
        max-width: none;
        height: 100%;

        .image {
          height: 100%;
          
          object-fit: contain;
        }
      }

      @media (max-width: 599px) {
        position: absolute;
        right: -60px;

        width: initial;
        max-width: none;
        height: 100%;

        .image {
          height: 100%;
          
          object-fit: contain;
        }
      }
    }

    &_tomatoes-n-phone {
      max-width: 212px;
      
      @media (max-width: 904px) {
        max-width: 122px;
      }

      @media (max-width: 599px) {
        position: absolute;
        top: 20px;
        left: 0;

        width: 200px;
      }
    }
  }

  .image {
    width: 100%;

    object-fit: cover;
  }

  .left-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 29px;
    
    @media (max-width: 904px) {
      gap: 18px;
      padding-top: 0;
    }
    
    @media (max-width: 599px) {
      gap: 18px;
      align-items: center;
      padding-top: 32px;
    }

    &__top {
      display: flex;
      flex-grow: 1;
      gap: 1vw;
      justify-content: space-between;

      @media (max-width: 904px) {
        position: relative;
      }
    }

    &__top-text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 9px;
      
      @media (max-width: 904px) {
        gap: 12px;
        padding-top: 29.77px;
      }

      @media (max-width: 599px) {
        gap: 12px;
        align-items: center;
        padding-top: 0;
      }

      .text-n-star {
        display: flex;
        gap: 4px;
        align-items: center;
        padding: 0;

        @media (max-width: 904px) {
          svg {
            width: 20px;
            height: 20px;
          }
        }

        &__text {
          font-family: Konnect, sans-serif;
          font-size: .625rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
          color: $black-color;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.1px;

          @media (max-width: 904px) {
            font-size: 0.5rem;
            color: $total-black;
          }
        }
      }
    }

    &__h2-wrapper {
      @media (max-width: 599px) {
        position: relative;

        display: flex;
        height: 120px;
      }
    }

    &__h2 {
      margin-block-start: 0;
      margin-block-end: 0;

      font-family: Konnect, sans-serif;
      font-size: 3.3125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.32;
      color: $brown-color;
      letter-spacing: 0.02em;

      &_orange {
        color: $orange-color;
      }

      @media (max-width: 904px) {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.64px;

        &_orange {
          font-weight: 700;
        }
      }

      @media (max-width: 599px) {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.64px;

        &_orange {
          font-weight: 700;
        }
      }
    }

    &__bottom {
      display: flex;
      gap: 5.2778vw;
      
      @media (max-width: 904px) {
        gap: 4.500vw;
      }

      .text-n-cursor {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media (max-width: 904px) {
          gap: 5px;
        }

        &__text {
          font-family: Konnect, sans-serif;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.33;          
          color: $black-color;
          
          @media (max-width: 904px) {
            font-size: 1.125rem;
            line-height: 1.444;          
            color: $total-black;
          }
        }
      }
    }
  }

  .right-container {
    position: relative;
    display: flex;
    
    @media (max-width: 904px) {
      width: 307px;
      height: 246px;
    }

    @media (max-width: 599px) {
      width: 100%;
      height: 263.057px;
    }
  }
}