<div class="app-footer">
	<div class="container">
		<div class="app-footer__inner">
			<a routerLink="" class="footer__logo">
				<img
					src="../../../../../../../assets/img/jpg/recipetoria-logo.png"
					width="46"
					height="60"
					alt="recipetoria logotype"
				/>
			</a>
			<div class="menu">
				<ul class="menu__list">
					<li class="menu__list-item">
						<a routerLink="privacy-policy" class="menu__list-link">Privacy policy</a>
					</li>
					<li class="menu__list-item">
						<a routerLink="cookie-policy" class="menu__list-link">Cookie policy</a>
					</li>
					<li class="menu__list-item">
						<a routerLink="terms-of-use" class="menu__list-link">Terms of use</a>
					</li>
					<li class="menu__list-item">
						<span>All right reserved</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
