@import 'variables';
@import 'mixins';

html {
  height: 100%;
}

body {
  margin: 0;
}

#root,
.app,
body {
  height: inherit;
}

.app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: $black-color;
  text-decoration: none;
}

.btn {
  @include border($color: $black-color);
  padding: 12px 24px;

  cursor: pointer;

  background-color: $btn-bg-color;
  box-shadow: 3px 3px 0 0 $black-color;
}