@import 'variables';
@import 'mixins';

html {
  height: 100%;
}

body {
  margin: 0;
}

#root,
.app,
body {
  height: inherit;
}

.app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: $black-color;
  text-decoration: none;
}

.btn {
  @include btn;
}