@mixin btn-n-select-table {
  padding: 8px 12px;
  margin: 4px 12px;

  font-size: 16px;
  line-height: 24px;
  color: $black-color;

  border: 1px solid transparent;

  transition: all .5s;

  &:hover {
    @include border($color: $gray-light-1-color);
    cursor: pointer;
  }
}

@mixin border($color, $width: 1px, $rad: 4px) {
  border: $width solid $color;
  border-radius: $rad;
}

@mixin btn {
  @include border($color: $black-color);
  padding: 12px 24px;

  cursor: pointer;

  background-color: $btn-bg-color;
  box-shadow: 3px 3px 0 0 $black-color;
}

@mixin orange-btn {
  @include btn;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $btn-bg-color;
  letter-spacing: 0.1px;

  background: $orange-color;

  &:disabled {
    @include border($color: $gray-light-color);

    color: $gray-light-color;
    cursor: not-allowed;

    background: $gray-light-1-color;
    box-shadow: 3px 3px 0 0 $gray-light-color;
  }
}

@mixin default-avatar-wrapper {
  position: relative;

  flex-shrink: 0;
  width: 52px;
  height: 52px;

  overflow: hidden;

  border: 1.5px solid $black-color;
  border-radius: 50%;
  box-shadow: 3px 2px 0 0 $black-color;
}

@mixin default-avatar {
  width: 100%;
  padding-top: 8px;

  background-color: $green-color;

  transform: scale(-1, 1) scale(1.16);
}

@mixin profile-data-container {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
  }

  &__submit-btn {
    @include orange-btn;

    font-weight: 500;
  }
}

@mixin profile-data {
  @include border($color: $total-black, $rad: 8px);

  display: flex;
  align-items: center;
  justify-content: center;

  background: $white-color;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 274px;
    margin: 40px 2.7777vw;
  }

  &__header {
    font-size: 1.375rem;
    font-style: normal;
    line-height: 1.2727;
    color: $black-color;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}