@mixin btn-n-select-table {
  padding: 8px 12px;
  margin: 4px 12px;

  font-size: 16px;
  line-height: 24px;
  color: $black-color;

  border: 1px solid transparent;

  transition: all .5s;

  &:hover {
    @include border($color: $gray-light-1-color);
    cursor: pointer;
  }
}

@mixin border($color, $width: 1px, $rad: 4px) {
  border: $width solid $color;
  border-radius: $rad;
}

@mixin btn {
  @include border($color: $black-color);
  padding: 12px 24px;

  cursor: pointer;

  background-color: $btn-bg-color;
  box-shadow: 3px 3px 0 0 $black-color;
}

@mixin orange-btn {
  @include btn;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $btn-bg-color;
  letter-spacing: 0.1px;

  background: $orange-color;

  &:disabled {
    @include border($color: $gray-light-color);

    color: $gray-light-color;
    cursor: not-allowed;

    background: $gray-light-1-color;
    box-shadow: 3px 3px 0 0 $gray-light-color;
  }
}

@mixin default-avatar-wrapper {
  position: relative;

  flex-shrink: 0;
  width: 52px;
  height: 52px;

  overflow: hidden;

  border: 1.5px solid $black-color;
  border-radius: 50%;
  box-shadow: 3px 2px 0 0 $black-color;
}

@mixin default-avatar {
  width: 100%;
  padding-top: 8px;

  background-color: $green-color;

  transform: scale(-1, 1) scale(1.16);
}