@mixin btn-n-select-table {
  padding: 8px 12px;
  margin: 4px 12px;

  font-size: 16px;
  line-height: 24px;
  color: $black-color;

  border: 1px solid transparent;

  transition: all .5s;

  &:hover {
    @include border($color: $gray-light-1-color);
    cursor: pointer;
  }
}

@mixin border($color, $width: 1px, $rad: 4px) {
  border: $width solid $color;
  border-radius: $rad;
}

@mixin btn {
  @include border($color: $black-color);
  padding: 12px 24px;

  cursor: pointer;

  background-color: $btn-bg-color;
  box-shadow: 3px 3px 0 0 $black-color;
}

@mixin orange-btn {
  @include btn;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $btn-bg-color;
  letter-spacing: 0.1px;

  background: $orange-color;

  &:disabled {
    @include border($color: $gray-light-color);

    color: $gray-light-color;
    cursor: not-allowed;

    background: $gray-light-1-color;
    box-shadow: 3px 3px 0 0 $gray-light-color;
  }
}

@mixin profile-data-container {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
    
    @media (max-width: 599px) {
      gap: 24px;
    }
  }

  &__submit-btn {
    @include orange-btn;

    font-weight: 500;
  }
}

@mixin profile-data {
  @include border($color: $total-black, $rad: 8px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background: $white-color;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 274px;
    margin: 40px 2.7777vw;
    
    @media (max-width: 599px) {
      margin: 32px;      
    }
  }

  &__header {
    font-size: 1.375rem;
    font-style: normal;
    line-height: 1.2727;
    color: $black-color;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@mixin cancel-btn {
  padding: 12px 8px 14px;
    
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.43;
  color: $black-color;
  letter-spacing: 0.1px;
  cursor: pointer;

  background: transparent;
  border: none;
}

@mixin cross-btn {
  &__cross-wrapper {
    padding: 0;

    cursor: pointer;

    background: transparent;
    border: none;
  }
}

@mixin card {
  @include border($color: $total-black, $rad: 8px);

  box-sizing: content-box;
  
  display: flex;
  align-items: normal;
  width: 16.11vw;
  max-width: 264px;
  padding: 1.11vw;
  
  cursor: pointer;
  
  background: $btn-bg-color;
  
  transition: $transition;
  
  @media (max-width: 599px) {
    width: 43vw;
    max-width: 140px;
    padding: 7px;
    
    &_create-new {
      display: none;
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2.22vw;
    width: 100%;
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    max-height: 162px;
  }

  &__image {
    @include border($color: $total-black, $rad: 8px);

    width: inherit;
    height: 100%;
    
    object-fit: cover;
    transition: $transition;

    &_create {
      border: none;
    }
  }

  .menu-block {
    position: absolute;
    top: .5555vw;
    left: .5555vw;

    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .menu {
    z-index: -1;

    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
    width: 12.9861vw;
    padding: 4px 0;
    
    background: $btn-bg-color;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba($total-black, .25);
    
    opacity: 0;
    transition: $transition;
    
    @media (max-width: 599px) {
      width: 100%;
    }

    &_active {
      z-index: 9999;
      
      opacity: 1;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 100%;
    }

    &__item {
      width: 100%;
      padding: 1.11vw 1.6667vw;

      overflow: hidden;

      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.4286;
      color: $black-color;
      text-align: left;
      text-overflow: ellipsis;
      letter-spacing: 0.1px;
      white-space: nowrap;
      cursor: pointer;

      background: transparent;
      border: none;

      transition: $transition;

      &:hover {
        background-color: $bg-menu-active-color;
      }
    }
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4444vw;
    padding: 4px 8px;

    cursor: pointer;

    background: rgba($btn-bg-color, .7);
    border: none;
    border-radius: 20px;

    opacity: 0;
    transition: $transition;

    @media screen {
      width: 70px;

      opacity: 1;
    }
  }

  &:hover {
    background: rgba($total-black, .4);
    
    .card {
      &__image {
        filter: brightness(.5);
      }
    }

    .menu-btn {
      opacity: 1;
    }
  }

  &__name {
    width: inherit;
    margin-block-start: 0;
    margin-block-end: 0;

    overflow: hidden;
    
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.27;
    color: $total-black;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__create-block {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: inherit;
  }

  &__create-text {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    color: $black-color;
    letter-spacing: 0.1px;
  }
}

@mixin caption {
  position: absolute;
  left: 50%;
  z-index: 3;

  display: inline-flex;
  gap: 8px;
  padding: 4px 12px;
  
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285;
  color: $primary-bg-1;
  letter-spacing: 0.25px;
  
  background: $black-color;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba($total-black, 0.30), 0 4px 8px 3px rgba($total-black, 0.15);
  opacity: 0;

  transition: $transition;
  transform: translateX(-50%);
}