$primary-color: #FEF8F1;
$black-color: #2D2B2B;
$black-1-color: #1C1B1F;
$btn-bg-color: #FEFEFE;
$brown-color: #35201A;
$brow-light-color: #725E58;
$yellow-color: #FAE8CD;
$grey-color: #C4C4C4;
$white-color: #FFF;
$gray-light-color: #94959A;
$gray-light-1-color: #D9D9D9;
$green-color: #D7EC6E;
$error-color: #B3261E;
$purple-color: #BA9CF8;
$bg-menu-active-color: #F3EFEC;