@import "../../styles/variables";
@import "../../styles/mixins";

.btn-edit {
  position: relative;

  &__tip {
    position: absolute;
    left: 50%;
    
    padding: 4px 12px;
    
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.429;
    color: $primary-bg-1;
    letter-spacing: 0.25px;
    white-space: nowrap;
    
    background: $black-color;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba($total-black, 0.30), 0 4px 8px 3px rgba($total-black, 0.15);
    opacity: 0;

    transition: $transition;
    transform: translateX(-50%);
  }

  &__btn {
    display: flex;
    gap: 4px;
    align-items: center;

    font-size: 1rem;
    line-height: 1.5;
    color: $gray-1-color;
    letter-spacing: 0.5px;
    cursor: pointer;

    background: transparent;
    border: none;
    outline: none;
    
  }
  
  &:hover {
    .btn-edit {
      &__tip {
        opacity: 0.800;
      }
    }
  }
}