@import '../../styles/variables';

.td {
  color: $black-color;

  &__with-line {
    border-bottom: 1px solid $gray-light-1-color;
  }

  &__input {
    width: fit-content;
  }

  &__button {
    text-align: start;

    background: none;
  }

  .select {  
    font-weight: 400;
  
    background: url('../../assets/png/icon-up.png') no-repeat right;
    outline: none;
    box-shadow: none;
  
    appearance: none;
  }

  &__button,
  .select {
    padding: 8px 12px;
    margin: 4px 0;

    font-size: 16px;
    line-height: 24px;
    color: $black-color;

    border: 1px solid transparent;

    transition: all .5s;

    &:hover {
      cursor: pointer;
  
      border: 1px solid $gray-light-1-color;
      border-radius: 4px;
    }
  }
}

.td-id,
.td-amount {
  text-align: end;
}

.td-trash {
  text-align: center;

  .trash {
    fill: $gray-light-color;
  }
}
