@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.43;

  background-color: $primary-color;
  border-bottom: 1px solid $black-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 11.04vw 1rem 10.83vw;
  }

  .logo {
    object-fit: contain;

    &__wrapper {
      display: flex;
      align-items: center;
      height: 60px;
    }
  }

  .links-n-avatar {
    display: flex;
    gap: 2.98vw;
    align-items: center;
  }

  .links {
    display: flex;
    gap: 2.77vw;
    align-items: center;

    &_not-auth {
      gap: 1.11vw;
    }
  }

  .orange-btn {
    @include orange-btn;

    font-weight: 500;
  }

  .profile-btn-popup {
    position: relative;

    &__btn {
      padding: 0;

      cursor: pointer;

      background: transparent;
      border: none;
      outline: none;
    }
  }
}