@import '../../styles/variables';

.header {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.43;

  background-color: $primary-color;
  border-bottom: 1px solid $black-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 11.04vw 1rem 10.83vw;
  }

  .logo {
    object-fit: contain;

    &__wrapper {
      display: flex;
      align-items: center;
      height: 60px;
    }
  }

  .links-n-avatar {
    display: flex;
    gap: 2.98vw;
    align-items: center;
  }

  .links {
    display: flex;
    gap: 2.77vw;
    align-items: center;
  }

  .default-avatar {
    width: 100%;
    padding-top: 8px;

    background-color: $green-color;

    transform: scale(-1, 1) scale(1.16);

    &__wrapper {
      position: relative;

      flex-shrink: 0;
      width: 52px;
      height: 52px;

      overflow: hidden;

      border: 1.5px solid $black-color;
      border-radius: 50%;
      box-shadow: 3px 2px 0 0 $black-color;
    }
  }
}