@import '../../styles/variables';
@import '../../styles/mixins';

.profile-change-password {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
  }

  &__submit-btn {
    @include orange-btn;

    font-weight: 500;
  }

  .change-password {
    @include border($color: $total-black, $rad: 8px);

    display: flex;
    align-items: center;
    justify-content: center;

    background: $white-color;

    &__wrapper {
      display: flex;
      flex-direction: column;

      // other gap and max-width
      gap: 16px; 
      max-width: 264px;

      margin: 40px 2.7777vw;
    }

    &__header {
      font-size: 1.375rem;
      font-style: normal;
      line-height: 1.2727;
      color: $black-color;
    }

    &__fields {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}