@import '../../styles/variables';
@import '../../styles/mixins';

.drop-photo {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $beige;
  border: 2px dashed $baby-1;
  border-radius: 8px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    padding: 24px 1.6666vw;
    
    @media (max-width: 599px) {
      gap: 12px;
      max-width: 161px;
      padding: 16px;
    }
  }

  &__img-wrapper {
    margin: 0 .5903vw;
  }

  &__img {
    width: 100%;

    object-fit: contain;
  }

  &__text {
    font-style: normal;
    color: $gray-1-color;
    letter-spacing: 0.5px;

    @media (max-width: 599px) {
      font-size: 0.875rem;
      line-height: 1.429;
      text-align: center;
      letter-spacing: 0.25px;
    }
  }
}