@import '../../styles/variables';

.footer {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.43;

  background-color: $brown-color;

  a {
    color: $yellow-color;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 11.04vw 1rem 10.83vw;
  }

  .logo {
    object-fit: contain;

    &__wrapper {
      width: 72px;
      height: 60px;
    }
  }

  .footer-links-n-rights {
    display: flex;
    gap: 3.88vw;
    align-items: center;

    &__right {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $brow-light-color;
    }
  }
}