@import '../../styles/variables';

.shopping-list-page {
  position: relative;
  
  display: flex;
  height: 100%;

  .img-block {
    position: relative;
    z-index: 0;

    display: block;
    width: 37.5vw;

    background-color: $primary-color;

    @media (max-width: 1239px) {
      display: none;
    }

    @media (min-width: 2460px) {
      overflow: hidden;
    }

    &__image-wrapper {
      position: absolute;
      top: 8.47%;
      left: 2%;

      width: 100%;

      @media (max-width: 599px) {
        top: 16px;
      }
    }

    &__image {
      width: 120%;

      object-fit: contain;
    }
  }

  .shopping-list-block {
    flex-grow: 1;

    background-color: $primary-color;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin: 8.47% 17.56% 0 8%;

      @media (max-width: 599px) {
        margin: 16px;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 599px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__btns {
      display: flex;
      gap: 1rem;
      padding-right: 3px;

      .btn {
        width: 54px;
        height: 54px;
        padding: 3px 4px;
      }
    }

    &__h2 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
      color: $brown-color;

      @media (max-width: 599px) {
        font-size: 1.375rem;
      }
    }

    &__table {
      z-index: 4;
    }
  }
}